.grid-container{
    width: 100%;
    grid-template-columns: 1fr 1fr;
    /* justify-items: center; */
    height: 700px;
    /* align-items: center; */
}
#box1{
    width: 50%;
    justify-self: start;
    align-self: start;
    height: 100px;

}
 #box2{
    width: 50%;
    justify-self: center;
    align-self: center;
    height: 100px;
}
#box3{
    width: 50%;
    justify-self: end;
    align-self: start;
    height: 100px;
}
#box4{
    width: 50%;
    justify-self: end;
    align-self: end;
    height: 100px;
} 
